@import url("../node_modules/nes.css/css/nes.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, pre, code, kbd, samp {
        font-family: "Press Start 2P", system-ui, sans-serif;
        font-size: 14px;
    }

    body::after {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/static/background.jpg') rgb(0,0,0) repeat;
        background-size: 10%;
        opacity: 0.5;
        z-index: -1;
    }
}