{% extends 'base.html' %}

{% block title %}Página inicial{% endblock %}

{% block content %}

    {% load static %}

    <section class="py-4 px-10 xl:px-2">
        <a class="flex items-center w-fit hover:text-amber-300" href="{% url 'movies_by_category' %}">
            <img class="w-14 h-10" src="{% static 'gifs/glass.gif' %}" alt="Moeda"/>
            <span class="">Filmes</span>
        </a>
        <div class="relative">
            <div id="movies-carousel" class="flex items-stretch overflow-hidden">
                <div class="absolute z-10 left-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToLeft('movies-carousel')" class="w-14 h-14 -ml-3 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-left.svg' %}" alt="Previous"/>
                    </button>
                </div>

                <div class="absolute z-10 right-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToRight('movies-carousel')" class="w-14 h-14 -mr-7 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-right.svg' %}" alt="Next"/>
                    </button>
                </div>

                {% for movie in movies %}
                    <div class="nes-container is-rounded is-dark text-center flex flex-col">
                        <p class="mb-1 flex-1 flex items-center justify-center">{{ movie.title }}</p>
                        <div class="flex flex-col items-stretch w-64 h-80">
                            <img class="w-full h-full" src="{{ movie.img|cut:'frontend'}}" alt="{{ movie.title }}" />
                        </div>
                        <p class="text-xl my-1">R$ {{ movie.price }}</p>
                        <a href="{% url 'movie_details' movie.slug  %}" class="nes-btn is-primary w-full">VER</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-4 px-10 xl:px-2">
        <a class="flex items-center w-fit hover:text-amber-300" href="{% url 'games_by_category' %}">
            <img class="w-10" src="{% static 'gifs/mario-spin.gif' %}" alt="Mario"/>
            <span class="mt-1">Jogos</span>
        </a>
        <div class="relative">
            <div id="games-carousel" class="flex items-stretch overflow-hidden">
                <div class="absolute z-10 left-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToLeft('games-carousel')" class="w-14 h-14 -ml-3 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-left.svg' %}" alt="Previous"/>
                    </button>
                </div>

                <div class="absolute z-10 right-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToRight('games-carousel')" class="w-14 h-14 -mr-7 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-right.svg' %}" alt="Next"/>
                    </button>
                </div>

                {% for game in games %}
                    <div class="nes-container is-rounded is-dark text-center flex flex-col">
                        <p class="mb-1 flex-1 flex items-center justify-center">{{ game.title }}</p>
                        <div class="flex flex-col items-stretch w-64 h-80">
                            <img class="w-full h-full" src="{{ game.img|cut:'frontend'}}" alt="{{ game.title }}"/>
                        </div>
                        <p class="text-xl my-1">R$ {{ game.price }}</p>
                        <a href="{% url 'game_details' game.slug  %}" class="nes-btn is-primary w-full">VER</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-4 px-10 xl:px-2">
        <a class="flex items-center w-fit hover:text-amber-300" href="{% url 'musics_by_category' %}">
            <img class="w-7" src="{% static 'gifs/music.gif' %}" alt="Coração"/>
            <span class="mt-1 ml-1">Músicas</span>
        </a>
        <div class="relative">
            <div id="musics-carousel" class="flex items-stretch overflow-hidden">
                <div class="absolute z-10 left-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToLeft('musics-carousel')" class="w-14 h-14 -ml-3 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-left.svg' %}" alt="Previous" />
                    </button>
                </div>

                <div class="absolute z-10 right-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToRight('musics-carousel')" class="w-14 h-14 -mr-7 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-right.svg' %}" alt="Next" />
                    </button>
                </div>

                {% for music in musics %}
                    <div class="nes-container is-rounded is-dark text-center flex flex-col">
                        <p class="mb-1 flex-1 flex items-center justify-center">{{ music.title }}</p>
                        <div class="flex flex-col items-stretch w-64 h-80">
                            <img class="w-full h-full" src="{{ music.img|cut:'frontend'}}" alt="{{ music.title }}"/>
                        </div>
                        <p class="text-xl my-1">R$ {{ music.price }}</p>
                        <a href="{% url 'music_details' music.slug  %}" class="nes-btn is-primary w-full">VER</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}