{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {% load static %}
    
    <section class="flex flex-col items-center md:flex-row md:items-start py-7 gap-10">
        <div class="relative w-96">
            <img class="w-96 rounded-xl" src="{{ movie.img|cut:'frontend' }}" alt="Capa"/>
            <img class="w-14 absolute top-0" src="{% static 'gifs/spider-man.gif' %}" alt="Spider-man"/>
            <img class="w-14 absolute right-0 bottom-0" src="{% static 'gifs/toad.gif' %}" alt="Sapo"/>
        </div>

        <div class="flex-1">
            <div class="flex items-center">
                <img class="w-14" src="{% static 'gifs/glass.gif' %}" alt="Glass"/>
                <h1 class="text-2xl">{{ movie.title }}</h1>
            </div>

            <div class="flex flex-col gap-2">
                <p>Sinopse</p>
                <p class="text-sm text-justify">{{ movie.synopsis }}</p>
                <div class="flex gap-4 mt-2">
                    {% for categorie in movie.categories.all %}
                        <a href="#" class="nes-badge">
                            <span class="is-warning">{{ categorie }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="nes-field my-4">
                <label for="frete" class="text-sm">Frete:</label>
                <div class="flex w-96">
				    <input id="frete"type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="XXXXX-XXX">
				    <button class="nes-btn is-primary"><img src="{% static 'icons/search.svg' %}" alt="Pesquisar"/></button>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <p class="text-sm">Valor:</p>
                <p class="text-4xl text-amber-300">R$ {{ movie.price }}</p>
            </div>

            <span class="flex gap-4 mt-2 items-center">
                <a href="{% url 'add_movie_to_cart' slug=movie.slug %}?action=1">
                    <button class="nes-btn is-primary mt-4 py-3 px-10">Comprar</button>
                </a>
                <a href="{% url 'add_movie_to_cart' slug=movie.slug %}?action=2">
                    <button class="nes-btn is-error mt-4 py-3 px-10">
                        <img class='h-[25px]' src="{% static 'icons/cart.svg' %}" alt="Carrinho"/>
                    </button>
                </a>
                    <img class="w-20 h-[45px] mt-2" src="{% static 'gifs/yoda.gif' %}" alt="yoda"/>
            </span>
        </div>
    </section>

    <section class="pb-7">
        <div class="flex gap-1 items-center">
            <img class="w-7" src="{% static 'gifs/popcorn.gif' %}" alt="Popcorn"/>
            <p class="text-xl">Descrição</p>
        </div>

        <div class="flex flex-col gap-2 mt-4 text-md">
            <p>Título: {{ movie.title }}</p>
            <p>Direção: {{ movie.directors }}</p>
            <p>Lançamento: {{ movie.release_date }}</p>
            <p>Duração: {{ movie.running_time }} minutos</p>
            <p class="flex flex-col gap-2">
                <span>
                    Classificação: 
                    <span class="{% if movie.rating == 0 %}bg-emerald-400{% elif movie.rating == 10 %}bg-cyan-400{% elif movie.rating == 12 %}bg-yellow-400{% elif movie.rating == 14 %}bg-orange-400{% elif movie.rating == 16 %}bg-red-700{% elif movie.rating == 18 %}bg-black border-gray-300 border-2{% endif %} text-white p-2">{% if movie.rating == 0%}L{% else %}{{ movie.rating }}{% endif %}</span>
                </span>
                <span class="text-xs">*{% if movie.rating == 0 %}Livre para todos os públicos{% else %}Não recomendado para menores de {{ movie.rating }} anos{% endif %}</span>
            </p>
        </div>
    </section>

{% endblock %}