{% extends 'base.html' %}

{% block title %}Músicas{% endblock %}

{% block musics_menu %}text-red-600/90{% endblock %}

{% block content %}

    {% load static %}

    <section class="py-4">
        <a class="flex items-center w-fit hover:text-amber-300" href="{% url 'musics_by_category' %}">
            <img class="w-10" src="{% static 'gifs/music.gif' %}" alt="Music"/>
            <span class="mt-1">POP</span>
        </a>
        <div class="relative">
            <div id="pop-carousel" class="flex items-stretch overflow-hidden">
                <div class="absolute z-10 left-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToLeft('pop-carousel')" class="w-14 h-14 -ml-3 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-left.svg' %}" alt="Image 1"/>
                    </button>
                </div>

                <div class="absolute z-10 right-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToRight('pop-carousel')" class="w-14 h-14 -mr-7 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-right.svg' %}" alt="Image 1"/>
                    </button>
                </div>

                {% for music in pop_musics %}
                    <div class="nes-container is-rounded is-dark text-center flex flex-col">
                        <p class="mb-1 flex-1 flex items-center justify-center">{{ music.name }}</p>
                        <div class="flex flex-col items-stretch w-64 h-80">
                            <img class="w-full h-full" src="{% static music.img %}" alt="Image 1"/>
                        </div>
                        <p class="text-xl my-1">R$ {{ music.price }}</p>
                        <button type="button" class="nes-btn is-primary w-full">VER</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-4">
        <a class="flex items-center w-fit hover:text-amber-300" href="{% url 'musics_by_category' %}">
            <img class="w-10" src="{% static 'gifs/music.gif' %}" alt="Music"/>
            <span class="mt-1">Rock</span>
        </a>
        <div class="relative">
            <div id="rock-carousel" class="flex items-stretch overflow-hidden">
                <div class="absolute z-10 left-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToLeft('rock-carousel')" class="w-14 h-14 -ml-3 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-left.svg' %}" alt="Image 1"/>
                    </button>
                </div>

                <div class="absolute z-10 right-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToRight('rock-carousel')" class="w-14 h-14 -mr-7 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-right.svg' %}" alt="Image 1"/>
                    </button>
                </div>

                {% for music in rock_musics %}
                    <div class="nes-container is-rounded is-dark text-center flex flex-col">
                        <p class="mb-1 flex-1 flex items-center justify-center">{{ music.name }}</p>
                        <div class="flex flex-col items-stretch w-64 h-80">
                            <img class="w-full h-full" src="{% static music.img %}" alt="Image 1"/>
                        </div>
                        <p class="text-xl my-1">R$ {{ music.price }}</p>
                        <button type="button" class="nes-btn is-primary w-full">VER</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-4">
        <a class="flex items-center w-fit hover:text-amber-300" href="{% url 'musics_by_category' %}">
            <img class="w-10" src="{% static 'gifs/music.gif' %}" alt="Music"/>
            <span class="mt-1">Metal</span>
        </a>
        <div class="relative">
            <div id="metal-carousel" class="flex items-stretch overflow-hidden">
                <div class="absolute z-10 left-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToLeft('metal-carousel')" class="w-14 h-14 -ml-3 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-left.svg' %}" alt="Image 1"/>
                    </button>
                </div>

                <div class="absolute z-10 right-0 top-0 bottom-0 flex items-center">
                    <button onclick="scrollToRight('metal-carousel')" class="w-14 h-14 -mr-7 rounded-full bg-gray-400">
                        <img class="mx-auto" src="{% static 'icons/arrow-right.svg' %}" alt="Image 1"/>
                    </button>
                </div>

                {% for music in metal_musics %}
                    <div class="nes-container is-rounded is-dark text-center flex flex-col">
                        <p class="mb-1 flex-1 flex items-center justify-center">{{ music.name }}</p>
                        <div class="flex flex-col items-stretch w-64 h-80">
                            <img class="w-full h-full" src="{% static music.img %}" alt="Image 1"/>
                        </div>
                        <p class="text-xl my-1">R$ {{ music.price }}</p>
                        <button type="button" class="nes-btn is-primary w-full">VER</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}