{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {% load static %}
    
    <section class="flex flex-col items-center md:flex-row md:items-start py-7 gap-10">
        <div class="relative w-96">
            <img class="w-96 rounded-xl" src="{{ music.img|cut:'frontend' }}" alt="Capa"/>
            <img class="w-24 absolute right-0 bottom-0" src="{% static 'gifs/mario2.gif' %}" alt="Mario"/>
            <img class="w-24 absolute left-0 top-0 -mt-16" src="{% static 'gifs/spongebob.gif' %}" alt="Bob Esponja"/>
        </div>

        <div class="flex-1">
            <div class="flex items-center gap-2">
                <img class="w-14" src="{% static 'gifs/k7.gif' %}" alt="K7"/>
                <h1 class="text-2xl">{{ music.title }}</h1>
            </div>

            <div class="flex gap-4 pt-4">
                {% for categorie in music.categories.all %}
                    <a href="#" class="nes-badge">
                        <span class="is-warning">{{ categorie }}</span>
                    </a>
                {% endfor %}
            </div>

            <div class="nes-field my-4">
                <label for="frete" class="text-sm">Frete:</label>
                <div class="flex w-96">
				    <input id="frete"type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="XXXXX-XXX">
				    <button class="nes-btn is-primary"><img src="{% static 'icons/search.svg' %}" alt="Pesquisar"/></button>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <p class="text-sm">Valor:</p>
                <p class="text-4xl text-amber-300">R$ {{ music.price }}</p>
            </div>

            <span class="flex gap-4 mt-2 items-center">
                <button class="nes-btn is-primary mt-4 py-3 px-10">Comprar</button>
                <a href="{% url 'add_music_to_cart' slug=music.slug %}">
                    <button class="nes-btn is-error mt-4 py-3 px-10">
                        <img class='h-[25px]' src="{% static 'icons/cart.svg' %}" alt="Carrinho"/>
                    </button>
                </a>
                <img class="w-14 mt-2" src="{% static 'gifs/music2.gif' %}" alt="Music"/>
            </span>
        </div>
    </section>

    <section class="pb-7">
        <div class="flex gap-1 items-center">
            <img class="w-7" src="{% static 'gifs/bird.gif' %}" alt="Popcorn"/>
            <p class="text-xl">Descrição</p>
        </div>

        <div class="flex flex-col gap-2 mt-4 text-md">
            <p>Título: {{ music.title }}</p>
            <p>Artista: {{ music.artist }}</p>
            <p>Formato: {{ music.format }}</p>
            <p>Nº de Faixas: {{ num_tracks }}</p>
            <p>Gravadora: {{ music.record_label }}</p>
            <p>Lançamento: {{ music.release_date }}</p>
        </div>

    </section>

    <section class="pb-7">
        <div class="flex gap-2 items-center">
            <img class="w-10" src="{% static 'gifs/music3.gif' %}" alt="Music"/>
            <p class="text-xl">Faixas</p>
        </div>

        <ol class="list-decimal ml-20 mt-4">
            {% for track in music.track_set.all %}
                <li class="text-amber-400">{{ track.title }} <span class="text-gray-300">({{ track.duration }})</span></li>
            {% endfor %}
        </ol>

    </section>

{% endblock %}