{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    {% load static %}

    <section class="flex justify-center w-full mt-7 mb-2 gap-20">
        <div class="flex flex-col justify-center items-center gap-2 w-44">
            <div id="deliveryIcon" class="w-20 h-20 bg-cyan-400 rounded-full">
                <img src="{% static "gifs/car.gif" %}" />
            </div>
            <p>ENTREGA</p>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 w-44">
            <div id="paymentIcon" class="w-20 h-20 flex justify-center items-end bg-gray-200 rounded-full">
                <img class="w-14 mr-3" src="{% static "gifs/coin-spin.gif" %}" />
            </div>
            <p>PAGAMENTO</p>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 w-44">
            <div id="finalizedIcon" class="w-20 h-20 flex justify-center items-end bg-gray-200 rounded-full">
                <img class="w-20" src="{% static "gifs/game-over.gif" %}" />
            </div>
            <p>FINALIZADO</p>
        </div>
    </section>

    <section id="delivery" class="flex w-full mt-4 mb-2 gap-4 md:px-20 2xl:px-7">
        <div class="flex flex-col gap-4">
            <div class="nes-container is-dark with-title is-rounded">
                <p class="title">ENDEREÇO</p>
                <div class="px-2 pb-2">
                    <div class="nes-field is-inline gap-2">
                        <input id="city" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Cidade">
                        <input id="neighborhood" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Bairro">
                        <input id="number" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none flex-[1_!important]" placeholder="Nº">
                    </div>
                    <div class="nes-field is-inline gap-2">
                        <input id="street" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Rua">
                        <input id="cep" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="CEP">
                        <input id="cep" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Complemento">
                    </div>
                </div>
            </div>
        
            <div class="nes-container is-dark with-title is-rounded">
                <p class="title">DESTINATÁRIO</p>
                <div class="px-2 pb-2">
                    <div class="nes-field is-inline gap-2">
                        <input id="cpf" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none flex-[1_!important]" placeholder="CPF">
                        <input id="name" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Nome">
                    </div>  
                </div>
            </div>
        </div>

        <div class="nes-container is-dark with-title is-rounded">
            <p class="title">FRETE</p>
            <div class="px-2 pb-2">
                <div class="nes-field is-inline">
                    <input id="frete"type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="XXXXX-XXX">
                    <button class="nes-btn is-primary"><img src="{% static 'icons/search.svg' %}" alt="Pesquisar"/></button>
                </div>
            </div>
        </div>
    </section>

    <section id="payment" class="w-full mt-4 mb-2 gap-4 md:px-20 2xl:px-7 hidden">
        <div class="flex flex-col gap-4">
            <div class="nes-container is-dark with-title is-rounded">
                <p class="title">MEIO DE PAGAMENTO</p>
                <div class="flex flex-col -ml-4">
                    <label>
                        <input type="radio" class="nes-radio is-dark" name="payment-method" checked />
                        <span>Cartão de crédito</span>
                    </label>
                    <label>
                        <input type="radio" class="nes-radio is-dark" name="payment-method" />
                        <span>Boleto bancário</span>
                    </label>
                    <label>
                        <input type="radio" class="nes-radio is-dark" name="payment-method" />
                        <span>Pix</span>
                    </label>
                </div>
            </div>

            <div class="flex w-full">
                <div class="nes-container is-dark with-title is-rounded flex-1">
                    <p class="title">VALE-PRESENTE</p>
                    <div class="nes-field is-inline gap-2 px-2 pb-2">
                        <input id="cpf" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Código">
                        <button class="nes-btn is-primary">OK</button>
                    </div>  
                </div>
                <div class="nes-container is-dark with-title is-rounded flex-1">
                    <p class="title">CUPOM</p>
                    <div class="nes-field is-inline gap-2 px-2 pb-2">
                        <input id="cpf" type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Código">
                        <button class="nes-btn is-primary">OK</button>
                    </div>  
                </div>
            </div>
        </div>

        <div class="nes-container is-dark with-title is-rounded flex-auto">
            <p class="title">PRODUTOS</p>
            <div class="flex flex-col h-full">
                <div class="flex-1 flex flex-col gap-2">
                    {% for item in items %}
                        <div class="flex justify-between gap-4">
                            <div>{{item.product_name}}</div>
                            <div>{{item.product_price}}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="py-10 w-full">
                    <div class="flex justify-between text-sm gap-4">
                        <div>SUBTOTAL</div>
                        <div>{{ total }}</div>
                    </div>
                    <div class="flex justify-between text-sm gap-4">
                        <div>CUPOM</div>
                        <div>- 0,00</div>
                    </div>
                    <div class="flex justify-between text-sm gap-4">
                        <div>VALE-PRESENTE</div>
                        <div>- 0,00</div>
                    </div>
                    <div class="flex justify-between gap-4 mt-2">
                        <div>TOTAL</div>
                        <div>R$ {{ total }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="finalized" class="justify-center w-full mt-10 mb-4 gap-4 md:px-20 2xl:px-7 hidden">
        <div class="nes-container is-dark with-title is-centered is-rounded">
            <p class="title">PEDIDO FINALIZADO</p>
            <div class="flex flex-col justify-center items-center px-2 pb-2">
                <div class="flex items-center gap-7">
                    <img class="w-20" src="{% static 'gifs/rocket.gif' %}" alt="Rocket" />
                    <span class="text-2xl">Parabéns!</span>
                </div>
                <p class="mt-7">Seu Pedido foi concluído com Sucesso</P>
                <p class="text-sm mt-2 mb-7">Em breve, ele chega na sua casa.</P>
                <a href="{% url 'my_profile' %}" class="nes-btn flex items-center gap-2">
                    <img class="w-7 -mt-1" src="{% static 'gifs/star.gif' %}" alt="Star" />
                    <span>VER PEDIDO</span>
                </a>
            </div>
        </div>
    </section>

    <div id="btns" class="flex justify-between md:px-28 2xl:px-14 mt-7">
        <button id="prev" class="nes-btn invisible">&lt; ENTREGA</button>
        <button id="next" class="nes-btn">PAGAMENTO &gt;</button>
    </div>

    <dialog class="nes-dialog is-dark is-rounded" id="checkout">
        <div class="dialog is-centered">
            <p class="title text-center py-2">Deseja finalizar o pedido?</p>
            <menu class="dialog-menu flex mt-4">
                <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                    <button onclick="hiddenConfirmation()" class="nes-btn is-error mx-auto">Não</button>
                    <button type="submit" onclick="showFinalized()" class="nes-btn is-primary mx-auto">Sim</button>
                </forms>
            </menu>
        </div>
    </dialog>

    <script>
        let state = false;

        const deliveryIcon = document.getElementById("deliveryIcon");
        const paymentIcon = document.getElementById("paymentIcon");
        const finalizedIcon = document.getElementById("finalizedIcon");

        const delivery = document.getElementById("delivery");
        const payment = document.getElementById("payment");
        const finalized = document.getElementById("finalized");

        const btns = document.getElementById("btns");
        const prev = document.getElementById("prev");
        const next = document.getElementById("next");

        prev.addEventListener("click", () => {
            if(state) {
                showDelivery();
            }
            state = !state;
        });

        next.addEventListener("click", () => {
            if(state) {
                showConfirmation();
            } else {
                showPayment()
            }
            state = !state;
        });

        function showDelivery() {
            prev.classList.add("invisible");
            next.innerText = "PAGAMENTO >";

            deliveryIcon.classList.remove("bg-gray-200");
            deliveryIcon.classList.add("bg-cyan-400");

            paymentIcon.classList.remove("bg-cyan-400");
            paymentIcon.classList.add("bg-gray-200");

            payment.classList.remove("flex");
            payment.classList.add("hidden");

            delivery.classList.remove("hidden");
            delivery.classList.add("flex");
        }

        function showPayment() {
            prev.classList.remove("invisible");
            next.innerText = "FINALIZAR >";

            deliveryIcon.classList.remove("bg-cyan-400");
            deliveryIcon.classList.add("bg-gray-200");
            
            paymentIcon.classList.remove("bg-gray-200");
            paymentIcon.classList.add("bg-cyan-400");

            delivery.classList.remove("flex");
            delivery.classList.add("hidden");

            payment.classList.remove("hidden");
            payment.classList.add("flex");
        }

        function showFinalized() {
            hiddenConfirmation();

            btns.classList.add("hidden");

            paymentIcon.classList.remove("bg-cyan-400");
            paymentIcon.classList.add("bg-gray-200");

            finalizedIcon.classList.remove("bg-gray-200");
            finalizedIcon.classList.add("bg-cyan-400");

            payment.classList.remove("flex");
            payment.classList.add("hidden");

            finalized.classList.remove("hidden");
            finalized.classList.add("flex");
        }

        function showConfirmation() {
            document.getElementById('checkout').showModal();
        }

        function hiddenConfirmation() {
            document.getElementById('checkout').close();
            state = !state;
        }

        function checkout() {
            
        }

    </script>

{% endblock %}