{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    {% load static %}

<form method='post'>
    {% csrf_token %}
    {{ form }}
    <section class="flex justify-center w-full mt-10 mb-2">
        <div class="nes-container is-dark with-title is-centered is-rounded relative w-[40rem]">
            <p class="title">LOGIN</p>
            <img class="mx-auto my-10 relative z-10" src="{% static "gifs/mushroom.gif" %}" alt="Cogumelo" />
            <div class="flex flex-col gap-4 px-7 mt-4">
                <div class="nes-field is-inline">
                    <img class="w-[2.75rem] mr-2" src="{% static "gifs/mail.gif" %}" />
                    <input id="username" name='username' type="text" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Usuário">
                </div>
                <div class="nes-field is-inline">
                    <img class="w-10 mr-2" src="{% static "gifs/key.gif" %}" />
                    <input id="password" name='password'type="password" class="nes-input rounded-lg px-4 py-3 bg-gray-200 text-gray-900 focus:ring-cyan-400 focus:ring-2 border-none" placeholder="Senha">
                </div>
            </div>
            <div class="flex justify-center gap-10 py-7">
                <button type="submit" class="nes-btn is-primary">Entrar</button>
                <a class="nes-btn" href="{% url "signup" %}">Cadastre-se</a>
            </div>
            <div class="w-full h-28 opacity-70 top-10 left-0 bg-[length:400px] absolute" style="background-image: url({% static "gifs/cloud.gif" %})"></div>
        </div>
    </section>
</form>

<section>
    <dialog class="nes-dialog is-dark is-rounded" id="success">
        <form method="dialog is-centered">
          <p class="title text-center py-2">Cadastro realizado com sucesso!</p>
          <menu class="dialog-menu flex mt-4">
            <button class="nes-btn is-success mx-auto">Fechar</button>
          </menu>
        </form>
      </dialog>
</section>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('success');

    if (error) {
        document.getElementById('success').showModal();
    }
</script>

{% endblock %}