{% extends 'base.html' %}

{% block title %}
  Meu Perfil
{% endblock %}

{% block profile_menu %}
  text-red-600/90
{% endblock %}
{% block profile_selected %}
  <i class="nes-icon is-small heart"></i>
{% endblock %}

{% block content %}

  {% load static %}

<div class="mt-5 nes-container with-title is-centered">
    <p>Esse é o seu cantinho, ajuste seu perfil para deixá-lo como você gosta</p>
</div>


<div class= 'flex mt-20'>

  <div>
    <div class="whitespace-nowrap mb-5">
      <button id='menuProfileBtn_1' class="nes-btn is-primary w-full">Meus Dados</button>    
    </div>
    <div class="whitespace-nowrap mb-5">
      <button id='menuProfileBtn_2' class="nes-btn w-full">Meus Endereços</button>
    </div>
    <div class="whitespace-nowrap mb-5">
      <button id='menuProfileBtn_3' class="nes-btn is-error w-full">Minhas Compras</button>
    </div>
    <div class="whitespace-nowrap mb-5">
      <button id='menuProfileBtn_4' class="nes-btn is-warning w-full">Mudar Senha</button>
    </div>
  </div>
  
<div id = 'menuProfile_1' class = 'flex'>
  <div class='ml-[80px] w-[630px]'>

    <div class="flex justify-center mb-5 ml-20">
      <i class="nes-ash"></i>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px]'>
          <label for="inline_field">Nome</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-success " placeholder={{user.name}} />
      </div>
      <img class="w-14 h-12" src="{% static 'images/pokebola.png' %}" alt="Pokebola"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px]'>
          <label for="inline_field">Usuário</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-success " placeholder={{user.username}} />
      </div>
      <img class="w-14 h-12" src="{% static 'images/pokebola.png' %}" alt="Pokebola"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px]'>
          <label for="inline_field">Email</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-success " placeholder={{user.email}} />
      </div>
      <img class="w-14 h-12" src="{% static 'images/pokebola.png' %}" alt="Pokebola"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px]'>
          <label for="inline_field">Telefone</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-success" placeholder={{user.phone_number}} />
      </div>
      <img class="w-14 h-12" src="{% static 'images/pokebola.png' %}" alt="Pokebola"/>
    </div>

    <div class='flex'>
      <label for="success_select" class='w-[160px] my-auto'>Endereço</label>
      <div class="nes-select is-success">
        <select required id="success_select">
          <option value="" disabled selected hidden>Select...</option>
          {%for end in user.address %}
            <option value={{forloop.counter}}>{{end}}</option>
          {% endfor %}
        </select>
      </div>
      <img class="w-14 h-12" src="{% static 'images/pokebola.png' %}" alt="Pokebola"/>
    </div>

    <div class='mt-10 ml-10 flex justify-center'>
      <button type="button" class="nes-btn is-success">Salvar</button>
    </div>
  </div>

  <div>
    <img class="w-[200px] h-[180px] ml-[115px] mt-[190px]" src="{% static 'gifs/buizel.gif' %}" alt="Buizel"/>
  </div>

</div>


<div id ='menuProfile_2' class = 'hidden mx-auto'>
  <p>Meus Endereços</p>
</div>

<div id ='menuProfile_3' class = 'hidden mx-auto'>
  <p>Minhas Compras</p>
</div>

<div id ='menuProfile_4' class = 'hidden mx-auto'>
  <p>Mudar Senha</p>
</div>


</div>

{% endblock %}

