{% extends 'base.html' %}

{% block title %}
  Meu Perfil
{% endblock %}

{% block profile_menu %}
  text-red-600/90
{% endblock %}
{% block profile_selected %}
  <i class="nes-icon is-small heart"></i>
{% endblock %}

{% block content %}

  {% load static %}

<div class="mt-5 nes-container with-title is-centered">
    <p>Esse é o seu cantinho, ajuste seu perfil para deixá-lo como você gosta</p>
</div>


<div class= 'flex mt-20'>

  <div>
    <div class="whitespace-nowrap mb-5">
      <button id='menuProfileBtn_1' class="nes-btn is-warning w-full">Meus Dados</button>    
    </div>
    <div class="whitespace-nowrap mb-5">
      <button id='menuProfileBtn_2' class="nes-btn is-error w-full">Meus Pedidos</button>
    </div>
  </div>
  
  
<div id = 'menuProfile_1' class = 'flex'>
  <div class='ml-[75px] w-[600px]'>

    <div class="flex justify-center mb-10 ml-[80px]">
      <i class="nes-ash"></i>    
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px] flex justify-center'>
          <label for="inline_field">Nome</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-warning bg-transparent border-4" placeholder={{user.name}} />
      </div>
      <img class="w-8 h-8 ml-2 my-auto" src="{% static 'images/star.png' %}" alt="Star"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px] flex justify-center'>
          <label for="inline_field">Usuário</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-warning bg-transparent border-4 " placeholder={{user.username}} />
      </div>
      <img class="w-8 h-8 ml-2 my-auto" src="{% static 'images/star.png' %}" alt="Star"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px] flex justify-center'>
          <label for="inline_field">Email</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-warning bg-transparent border-4" placeholder={{user.email}} />
      </div>
      <img class="w-8 h-8 ml-2 my-auto" src="{% static 'images/star.png' %}" alt="Star"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px] flex justify-center '>
          <label for="inline_field">Telefone</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-warning bg-transparent border-4" placeholder={{user.phone_number}} />
      </div>
      <img class="w-8 h-8 ml-2 my-auto" src="{% static 'images/star.png' %}" alt="Star"/>
    </div>

    <div class = "flex mb-5">
      <div class="nes-field is-inline container">
        <div class='w-[120px] flex justify-center '>
          <label for="inline_field">Senha</label>
        </div>
        <input type="text" id="inline_field" class="nes-input is-warning bg-transparent border-4" placeholder='**********' />
      </div>
      <img class="w-8 h-8 ml-2 my-auto" src="{% static 'images/star.png' %}" alt="Star"/>
    </div>


    <div class='mt-10 ml-[60px] flex justify-center'>
      <button type="button" class="nes-btn is-warning">Salvar</button>
    </div>
  </div>

  <div class='flex justify-center items-center'>
    <img class="w-[140px] h-[140px] ml-[150px]" src="{% static 'gifs/pikachu.gif' %}" alt="Pikachu"/>
  </div>

</div>

<div id ='menuProfile_2' class = 'hidden flex'>
  <div class='ml-[50px] w-[700px]'>

    <div class="flex justify-center mb-10 ml-[30px] ">
      <i class="nes-ash"></i>
    </div>

  {%for item in user.shopping%}
    <div class='ml-[30px] flex'>
        <div class="flex nes-container is-rounded is-dark container">
          <div class="border-double border-4 border-red-500 rounded-xl">
            <img class='w-[100px] h-[140px]' src="{% static item.img %}" alt="Image"/>
          </div>

          <div class='ml-[30px] my-auto text-red-500'>
            <p class='mb-[10px]'>Tipo de mídia: {{item.type}}</p>
            <p class='mb-[10px]'>Nome da mídia: {{item.name}}</p>
            <p class='mb-[10px]'>Valor do item: R$ {{item.price}}</p>
            <p class='mb-[10px]'>Data de Compra: {{item.date}}</p>
          </div>
        </div>
    </div>

    {%endfor%}

  </div>

  <div class='flex justify-center items-center'>
    <img class="w-[140px] h-[120px] ml-[130px] mt-[100px]" src="{% static 'gifs/growlite.gif' %}" alt="Growlite"/>
  </div>

</div>


</div>

{% endblock %}

